.card__wrap {
    border: 1px solid rgb(210, 210, 210);
}
.ant-card-extra {
    margin-left: 0;
}
.card__img-avatar {
    width: 40px;
    border-radius: 50%;
}
.ant-card-body {
    padding: 0;
}
.card__body {
    // padding: 12px 12px 12px 12px;
}
.hr {
    border: 1px solid rgb(245, 245, 245);
}
.card__formik__wrap {
}
.card__formik__comment {
    margin-top: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .card__input__commnent {
        margin-left: 8px;
        width: 100%;
        border: none;
        line-height: 18px;
        outline: none;
    }
    .card__input__commnent:focus {
        box-shadow: none;
    }
}
.card__bottom__wrap {
    margin-top: 10px;
    margin-bottom: 12px;
    .card__bottom__user-content {
        display: flex;
        gap: 8px;
    }
}
