.ant-modal-header {
    border-radius: 10px;
}
.image-crop .ant-upload-select {
    width: 302px !important;
    height: 302px !important;
}
.image-crop .ant-upload-list-item-container {
    width: 302px !important;
    height: 302px !important;
}
