.ant-upload.ant-upload-select-picture-card {
    height: 300px;
    width: 100%;
}

.ant-upload-list-picture-card-container {
    height: 300px;
    width: 100%;
}

.form__add__card {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    &__button {
        padding-top: 10px;
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        &-invalid {
            background-color: rgb(255, 255, 255);
            color: rgba(180, 180, 180, 0.7);
        }
    }
    &__input {
        margin-bottom: 20px;
        height: 40px;
    }
}
